{"env":{"default":{"db":"http:\/\/nfilinsectiondstresedeft:FurOl0RhDacJuIAumrMMr1DD@stevencleys.cloudant.com\/ebola"},"production":{"db":"http:\/\/nfilinsectiondstresedeft:FurOl0RhDacJuIAumrMMr1DD@stevencleys.cloudant.com\/ebola"},"staging":{"db":"http:\/\/127.0.0.1:5984\/ebola"}}}